@page "/New-Product"
@inject IService<Product> productService
@inject IService<Category> categoryService

<div style="border: 1px solid white; padding: 3em;">
    <EditForm Model="Product" OnValidSubmit="AddProduct" class="" style="">
        <DataAnnotationsValidator></DataAnnotationsValidator>
<h1 class="p-3 mb-3 bg-body rounded" style="text-align:center; color:black; font-weight:600; background-color:Window;">Add New Product</h1>
        <div>
            <label style=" font-weight:500; font-size:1.7em; ">Name</label>
            <InputText @bind-Value="Product.Name" class="form-control  p-3 mb-3 bg-body rounded"></InputText>
             <ValidationMessage For="()=>Product.Name" class="text-danger"></ValidationMessage>
        </div>
         <div>
            <label style=" font-weight:500; font-size:1.7em; ">Details</label>
            <InputTextArea @bind-Value="Product.Details" class="form-control  p-3 mb-3 bg-body rounded" style="height:7em;"></InputTextArea>
             <ValidationMessage For="()=>Product.Details" class="text-danger"></ValidationMessage>
        </div>
        <div>
            <label style=" font-weight:500; font-size:1.7em; ">Price</label>
            <InputNumber @bind-Value="Product.Price" class="form-control  p-3 mb-3 bg-body rounded"></InputNumber>
             <ValidationMessage For="()=>Product.Price" class="text-danger"></ValidationMessage>
        </div>
        <div>
            <label style=" font-weight:500; font-size:1.7em; ">Category</label>
            <InputSelect @bind-Value="Product.CategoryID" class="form-control  p-3 mb-3 bg-body rounded" style="height=1.5em;">
                @foreach (var item in Categories)
                   {
                       <option value="@item.ID">@item.Name</option>
                   }
            </InputSelect>
             <ValidationMessage For="()=>Product.CategoryID" class="text-danger"></ValidationMessage>
        </div>
         <div>
                   <label style=" font-weight:500; font-size:1.7em; ">Image</label>
            <InputText @bind-Value="Product.Image" class="form-control p-3 mb-3 bg-body rounded"/>
    </div>
             <div>
        <input type="submit" value="Submit" class="btn btn-success" style="width:45%;">
        <a href="\All-Products" class="btn btn-danger" style="width:45%; margin-left:5.5%;">Back to list</a>
    </div>
    </EditForm>
</div>