/* /Shared/Login.razor.rz.scp.css */
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-df1rzgnkev] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-df1rzgnkev] {
    flex: 1;
}

.sidebar[b-df1rzgnkev] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-df1rzgnkev] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-df1rzgnkev]  a, .top-row .btn-link[b-df1rzgnkev] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-df1rzgnkev] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-df1rzgnkev] {
        display: none;
    }

    .top-row.auth[b-df1rzgnkev] {
        justify-content: space-between;
    }

    .top-row a[b-df1rzgnkev], .top-row .btn-link[b-df1rzgnkev] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-df1rzgnkev] {
        flex-direction: row;
    }

    .sidebar[b-df1rzgnkev] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-df1rzgnkev] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-df1rzgnkev] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-fexrlpwebk] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-fexrlpwebk] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-fexrlpwebk] {
    font-size: 1.1rem;
}

.oi[b-fexrlpwebk] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-fexrlpwebk] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-fexrlpwebk] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-fexrlpwebk] {
        padding-bottom: 1rem;
    }

    .nav-item[b-fexrlpwebk]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-fexrlpwebk]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-fexrlpwebk]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-fexrlpwebk] {
        display: none;
    }

    .collapse[b-fexrlpwebk] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/PublicLayout.razor.rz.scp.css */
.Curve1[b-zipnnqvn73] {
    bottom: 16.8em;
    width: 99%;
    border: solid .08em #000;
    border-bottom: none;
    border-color: #000 transparent transparent transparent;
    border-radius: 100%/7em 3em 0 0;
}

.Curve2[b-zipnnqvn73] {
    bottom: 17.5em;
    width: 98%;
    border: solid .08em #000;
    border-bottom: none;
    border-color: #000 transparent transparent transparent;
    border-radius: 100%/3em 7em 0 0;
}

footer[b-zipnnqvn73] {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #dddddd37;
}

.section[b-zipnnqvn73] {
    margin-top: 1.7em;
    margin-left: 3em;
    font-size: 22px;
}

li[b-zipnnqvn73] {
    color: #A5A6A9;
    font-size: .9em;
    font-weight: 350;
    margin-top: 1em;
    margin-left: 3em;
}

h6[b-zipnnqvn73] {
    font-weight: 450;
}

p[b-zipnnqvn73] {
    color: #A5A6A9;
    font-size: .9em;
    font-weight: 350;
    font-size: 1em;
    font-weight: 350;
    margin-top: 1em;
    margin-left: .4em;
    text-align: left;
}

h1[b-zipnnqvn73] {
    font-size: 2.8em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

.copyrights[b-zipnnqvn73] {
    font-size: .7em;
    font-weight: 350;
}

.sideWord[b-zipnnqvn73] {
    align-items: center;
    margin-left: 10%;
    margin-right: 0%;
}
