@page "/Admin"
    <div class="d-flex w-100" style="background-color: #060606e4; height:20em; border:1px solid white;">
        <div> <a class="nav-link active btn" href="All-Products" style="color:white; font-size:2em; width:7em; margin-left:11em; margin-top:4em; font-weight:500; background-color:darkred;">Products</a></div>
        <div><a class="nav-link active btn" href="All-Categories" style="color:white; font-size:2em; width:7em; margin-left:2em; margin-top:4em; font-weight:500; background-color:darkred;">Categories</a></div>
    </div>