<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="All-Products-User">
                <span class="oi oi-list-rich" aria-hidden="true"></span> All Products/User view
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="All-Products">
                <span class="oi oi-list-rich" aria-hidden="true"></span> All Products/Admin view
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="All-Categories-User">
                <span class="oi oi-list-rich" aria-hidden="true"></span> All Categories/User view
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="All-Categories">
                <span class="oi oi-list-rich" aria-hidden="true"></span> All Categories/Admin view
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
