.Curve1[b-zipnnqvn73] {
    bottom: 16.8em;
    width: 99%;
    border: solid .08em #000;
    border-bottom: none;
    border-color: #000 transparent transparent transparent;
    border-radius: 100%/7em 3em 0 0;
}

.Curve2[b-zipnnqvn73] {
    bottom: 17.5em;
    width: 98%;
    border: solid .08em #000;
    border-bottom: none;
    border-color: #000 transparent transparent transparent;
    border-radius: 100%/3em 7em 0 0;
}

footer[b-zipnnqvn73] {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #dddddd37;
}

.section[b-zipnnqvn73] {
    margin-top: 1.7em;
    margin-left: 3em;
    font-size: 22px;
}

li[b-zipnnqvn73] {
    color: #A5A6A9;
    font-size: .9em;
    font-weight: 350;
    margin-top: 1em;
    margin-left: 3em;
}

h6[b-zipnnqvn73] {
    font-weight: 450;
}

p[b-zipnnqvn73] {
    color: #A5A6A9;
    font-size: .9em;
    font-weight: 350;
    font-size: 1em;
    font-weight: 350;
    margin-top: 1em;
    margin-left: .4em;
    text-align: left;
}

h1[b-zipnnqvn73] {
    font-size: 2.8em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

.copyrights[b-zipnnqvn73] {
    font-size: .7em;
    font-weight: 350;
}

.sideWord[b-zipnnqvn73] {
    align-items: center;
    margin-left: 10%;
    margin-right: 0%;
}
